.sdk-square {
    display:grid;
    grid-template: repeat(9, 1fr)/repeat(9, 1fr);
    max-width: fit-content;
    max-height: fit-content;
    }

.sdk-cell, .user-input, .green, .red {
        width: 45px;
        height: 45px;
        text-align: center;
        border: 1px solid black
        }

.sdk-cell {
    color: black
}

.user-input {
    color: blue;
}

.green {
    color: rgb(40, 169, 40);
}

.red {
    color: red;
}