.sdk-gameboard {
    display: flex;
    gap: 20px;
    padding: 7vh 0;
    min-height: 65vh;
}

.sdk-keyboard-and-buttons {
display: flex;
flex-direction: column;
justify-content: center;
}

.sdk-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    align-items: center;
}