.hangman-keyboard {
display: flex;
flex-wrap: wrap;
width: 400px;
gap: 3px;
justify-content: center;
padding: 10px;
}

.key {
   border: 1px solid var(--color-violet);
   border-radius: 5%;
   font-size: 22px;
   padding: 6px 12px;
}