.hangman-gameboard {
padding: 7vh 0;
min-height: 65vh;
display: flex;
flex-direction: column;
gap: 5vh;
align-items: center;
}

.letters {
    color: var(--color-blue); 
    font-size: 48px;
    letter-spacing: 12px;
}

.wrongs {
    color: var(--color-pink);
    font-size: 22px;
    letter-spacing: 12px;
    text-decoration:line-through;
}

@media screen and (max-width: 1113px) {
    .letters { 
    font-size: 38px;
}
}