.button {
border: 1px solid var(--color-violet);
border-radius: 10px;
padding: 10px;
font-family: 'Bruno Ace', cursive;
}

#start, #login {
    background-color: var(--color-green);
    border: none;
    font-size: 16px;
}

#back {
    background-color: var(--color-pink);
    border: none;
    font-size: 16px;
}

#logout {
    border: none;
    color: var(--color-violet)
}

#register {
    background-color: var(--color-pink)
}

#check:disabled{
    color: var(--color-violet)
}

#start:disabled{
    background-color: var(--background-color);
    color: var(--color-violet);
    border: 1px solid var(--color-violet);
}

@media screen and (max-width: 1113px) {
    #start, #back {
        margin: 0 10px;
    }
}