.not-found-page {
  height: 85vh;
}

.not-found-figure {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: var(--color-dark-blue);
  text-align: center;
}

.not-found-message {
  padding: 0 24px;
}
